@{
    ViewBag.Title = "Inofrmacje o aplikacji";
}

<div class="text-center">

    <h2> @ViewBag.Title </h2>

    <h3> Widok: stan pokojów </h3>
    <p>
        Przedstawia stan wszystkich pokojów w 2 opcjach: a) na chwilę obecną b) na wskazany dzień i godzinę przyszłą lub przeszłą.
        Domyślnym widokiem po najechaniu na menu w górnym pasku jest stan obecny.
        W tabeli pokojów po prawej stronie znajdują się linki wyróżnione na niebiesko. Jeżeli w danej chwili pokój jest dostępny można wybrać
        opcję rezerwacji lub wynajęcia. Jeżeli pokój jest zarezerwowany lub wynajęty w określonej chwili jest możliwość anulowania transakcji ale trzeba potwierdzić taką operacje w widoku. Link wyświetl szczegóły pokoju kieruje nas do nowego
        widoku Szczegóły konkretnego pokoju.
    </p>
    <h3> Widok: Transakcje </h3>
    <p>
        Wyświetla wszystkie zarejestrowane transakcje w kolejności od najnowszych do najstarszych. Możemy wybrać konkretny typ transakcji lub też możemy
        wyświetlić konkretne transakcje w określonym przez nas przedziale czasu. W tabeli mamy linki do konkretnych pokojów (widok: szczegóły pokoju)
        oraz możemy anulować aktywne rezerwacje lub wynajęcia. Pod tabelą mamy wyliczone wartośći transakcji przychodu i rozchodu dla transakcji przentowanyc w tabeli.
    </p>
    <h3> Widok: Szczegóły pokoju </h3>
    <p>
        Wyświetla wszystkie zarejestrowane transakcje w kolejności od najnowszych do najstarszych. Możemy wybrać konkretny typ transakcji lub też możemy
        wyświetlić konkretne transakcje w określonym przez nas przedziale czasu. W tabeli mamy linki do konkretnych pokojów (widok: szczegóły pokoju)
        oraz możemy anulować aktywne rezerwacje lub wynajęcia. Pod tabelą mamy wyliczone wartośći transakcji przychodu i rozchodu dla transakcji przentowanyc w tabeli.
    </p>


</div>
