
@{
    ViewBag.Title = "Komunikat potwierdzajacy";
}

<div class="container">
    <br>
    <h1> @ViewBag.Communicate </h1>
    <br>
    @Html.ActionLink("Powrót na stronę główną", "Index", "Home", null)
</div>


